body {
    margin: 0 auto !important;
    float: none !important;
    max-width: 1080px;
    font-family: "Open Sans";
    font-size: 20px;
}

/* boxes */

p li {
    max-width:1000px;
} 

<!-- text -->

.title{}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    background-color:#67B3E3;
    padding:10px;
} 

.outline-2 {
    text-align: left;
    font-size: 20px;
    padding: 30px;
} 

/*

.buttons {
    padding: 0px 7px 13px 0px;
    background: #67B3E3;
}

#tabs {
    background-color: #67B3E3;
    float: left;
    margin: 0px 0px 20px 0px;
    padding: 0;
    width: 100%;
}
*/

/* tables */

caption{
    padding: 20px;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 0.1px solid #ddd;
    padding: 8px;
    font-size: 15px;
}

table tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #67B3E3;
    color: white;
}

/* details */

details {
    border: .2px solid #bbb;
    border-radius: 4px;
    padding: .5em .5em 0;
    cursor: pointer;
}

details[open] {
    padding: .5em;
}

summary {
    margin: -.5em -.5em 0;
    padding: .5em;
    color: black;
    font-weight: bold;
    background-color: #67B3E3;
}

details[open] > summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.1em;
    color: white;
}

summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

details summary::before { 
    content: "+";
    color: black;
    font-size: 30px;
}

details[open] > summary::before { 
    content:"-"; 
    color: white;
    font-size: 50px;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-top: -10px}
  100%  {opacity: 1; margin-top: 0px}
}

/* TOC */

#table-of-contents {
    margin-top: 2em ;
    font-size: 30px ;
    font-family: "Open Sans" ;
    background: #f9f9f9 none repeat scroll 0 0 ;
    border: 1px solid #aaa ;
    display: table ;
    margin-bottom: 1em ;
    padding: 20px ;
    
}

li {
    list-style-type: none;
    max-width: 1000px;
    min-width: 500px;
    font-size: 50px;
} 

#table-of-contents a {
    font-family: "Open Sans";
    font-size: 20px;
    background-color: #67B3E3;
    color: white;
    padding: .9em 1.5em;
    min-width: 500px;
    box-shadow: 0 5px 0 gray;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
}

#table-of-contents a:hover {
    background-color: #555;
    cursor: pointer;
    padding-right: 24px;
    padding-left:8px;
}

#table-of-contents a:active {
    background-color: black;
}

#table-of-contents a:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

#table-of-contents a:hover:after {
  opacity: 1;
  right: 10px;
}
